/* Body and Typography */

body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
}

img {
  max-width: 100%;
}

.section {
  font-size: 2em;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/***** TESTING PURPOSES ONLY *****/
/** {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}*/

/* Header */

.logo {
  float: left;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name-title {
  float: right;
}

.name {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  color: #484848;
  position: relative;
  margin: 0;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: grey;
  z-index: -1;
}

/* Navigation */

.nav-bar {
  display: inline-block;
}

.nav {
  float: right;
  text-transform: uppercase;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* About Me */

#about-me {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 140%;
}

/* Portfolio */

h4 {
  text-align: center;
}

.project-row {
  flex-wrap: wrap;
}

.project {
  padding: 10px;
  text-align: center;
  width: 33.33%;
}

@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }

  .name-title {
    width: 100%;
  }

  .project {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .section {
    font-size: 2.5em;
    padding: 30px;
  }

  h4 {
    font-size: 1.5em;
    padding: 10px;
  }
}
