/* Body and Typography */

body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
}

img {
  max-width: 100%;
}

.section {
  font-family: 'Roboto', serif;
  font-size: 2em;
  color: #44797f;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/***** TESTING PURPOSES ONLY *****/

/** {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
} */

/* Header */

.header {
  margin-top: 20px;
}

.logo {
  float: left;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name-title {
  float: right;
  text-align: right;
  padding-right: 20px;
}

.name {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5em;
  line-height: 100%;
  color: #5c3759;
  position: relative;
  margin: 0;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: grey;
  z-index: -1;
}

/* Navigation */

.nav-bar {
  display: inline-block;
}

.nav {
  float: right;
  text-transform: uppercase;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* About Me */

.about-me {
  font-size: 1.5em;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 140%;
  padding-bottom: 60px;
}

/* Portfolio */

#portfolio {
  background-color: #ccc85e;
}

h4 {
  color: #424525;
  text-align: center;
}

.project-row {
  flex-wrap: wrap;
}

.project {
  padding: 20px;
  text-align: center;
  width: 33.33%;
}

/* Contact */

.social {
  padding-bottom: 40px;
  text-align: center;
}

.fa {
  margin: 20px;
  color: #5148cc;
}

/* Media Queries */

@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }

  .name-title {
    width: 100%;
  }

  .project {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .section {
    font-size: 2.5em;
    padding: 30px;
  }

  h4 {
    font-size: 1.5em;
    padding: 10px;
  }
}
